body {
	margin: 0;
	padding: 0; 
	font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
	color: #333;
	line-height: 1.5;
}

.content {
	width: 1140px;
	margin: 0 auto;
}

.form-container {
	text-align: center;
	padding: 50px 0;
}

.main-header {
	font-size: 24px;
	font-weight: 400;
	padding-bottom: 10px;
}

.form-input {
	margin: 0;
    outline: 0;
    -webkit-appearance: none;
    tap-highlight-color: rgba(255,255,255,0);
    line-height: 1.21428571em;
    padding: .67857143em 1em;
    font-size: 1em;
    background: #fff;
    border: 1px solid rgba(34,36,38,.15);
    border-radius: 3px;
    -webkit-transition: border-color .1s ease;
    transition: border-color .1s ease;
	
	&:focus {
    	border: 1px solid rgba(34,36,38,.5);
	}
}
.form-button {
	margin: 0;
    outline: 0;
    line-height: 1.21428571em;
    padding: .67857143em 1em;
    font-size: 1em;
    border: 1px solid #1678c2;
	background: #2185d0;
    color: #FFF;
    border-radius: .28571429rem;
    -webkit-transition: background .1s ease;
    transition: background .1s ease;
	cursor: pointer;
	
	&:hover {
		background: #1678c2;
	}
}